@use '../constant.sass' as v

body.Login-PAGE 
    background-image: url('/background-image/BG2.png') !important
    background-size: cover !important
    background-position: center !important
    background-attachment: fixed !important

    .login

        > div.form

            > form

                > .buttonside
                    gap: 23px !important

                    > a
                        align-self: start !important
                        font-size: 15px !important
