@use '../constant.sass' as v

body.Login-PAGE
    background-image: url('/background-image/BG2.png') !important
    background-size: cover !important
    background-position: center !important
    background-attachment: fixed !important

@media only screen and (min-width: 1267px) 

    body.Login-PAGE

        main.PCMOD-body

            > div
                min-height: 469px !important
                padding: unset !important

                .login

                    > div.form

                        > form

                            > .buttonside
                                gap: 23px !important

                                > a
                                    align-self: start !important
                                    font-size: 15px !important

@media only screen and (min-width: 767px) and (max-width: 1266px) 

    body.Login-PAGE

        main.PCMOD-body
            justify-content: center !important

            > div
                min-height: calc(100vh - 82px - 208.38px) !important
                padding: 13px !important

                .login

                    > div.form

                        > form

                            > .buttonside
                                gap: 23px !important

                                > a
                                    align-self: start !important
                                    font-size: 15px !important


@media only screen and (max-width: 766px) 

    body.Login-PAGE

        main.PCMOD-body
            justify-content: center !important

            > div
                min-height: 80vh !important
                padding: 13px !important

                .login

                    > div.form

                        > form

                            > .buttonside
                                gap: 23px !important

                                > a
                                    align-self: start !important
                                    font-size: 15px !important
