@use '../../constant.sass' as v

body.Location-PAGE

    main

        > div

            .location

                > div.box
                    justify-content: space-between !important

                    > article
                        flex-direction: column !important

                        > h2, > h3
                            font-weight: 500 !important
                            text-transform: capitalize !important

                    > .map
                        border-radius: 10px !important

@media only screen and (min-width: 1267px) 

    body.Location-PAGE

        main

            > div

                .location

                    > div.box
                        max-width: 1000px !important
                        height: 312px !important

                        > article
                            width: 511px !important
                            gap: 13px !important

                        > .map
                            width: 400px !important
                            height: 100% !important

@media only screen and (min-width: 767px) and (max-width: 1266px) 

    body.Location-PAGE

        main

            > div

                .location

                    > div.box
                        max-width: 1000px !important
                        height: 312px !important

                        > article
                            width: 511px !important
                            gap: 13px !important

                        > .map
                            width: 400px !important
                            height: 100% !important

@media only screen and (max-width: 766px) 

    body.Location-PAGE

        main

            > div

                .location

                    > div.box
                        width: 100% !important
                        gap: 23px !important

                        > .map
                            width: 100% !important
                            height: 232px !important

                        > article
                            gap: 7.5px !important

