@use '../../constant.sass' as v

body.Register-PAGE
    background-image: url('/background-image/BG2.png') !important
    background-size: cover !important
    background-position: center !important
    background-attachment: fixed !important

    main

        > div
            justify-content: center !important

            .register

                > div.form

                    > form

                        > .buttonside
                            width: 254px !important

@media only screen and (min-width: 1267px) 

    body.Register-PAGE

        main

            > div

                .register

                    > div.form
                        gap: 23px !important

@media only screen and (min-width: 767px) and (max-width: 1266px) 

    body.Register-PAGE

        main

            > div

                .register

                    > div.form
                        gap: 23px !important

@media only screen and (max-width: 766px) 

    body.Register-PAGE
        
        main

            > div

                .register

                    > div.form
                        gap: 13px !important

                        > form
                            width: 100% !important

                            > .inputside
                                gap: 7.5px !important
                                
