@use '../constant.sass' as v

div.box
    background-color: v.$color-white !important
    width: 100% !important
    justify-content: center
    gap: 23px
    padding: 23px
    border-radius: 10px !important

    > .title
        width: 100% !important
        align-items: center

        > .left, > .right
            width: 100% !important

            > button
                width: unset !important
                height: v.$elem-h-size-secondary !important
                padding: 5px 23px !important

        > .right
            justify-content: flex-end !important

    &.boxcol
        align-items: center
        justify-content: unset
        flex-direction: column