@import '../Variables.sass'

div.group
    gap: 13px
    align-items: center
    align-self: stretch

    &.col
        flex-direction: column

    &.wrap
        flex-wrap: wrap

    &:has( > aside.sidebar )
        gap: unset