@import '../Variables.sass'

div.group
    gap: 13px
    align-items: center
    align-self: stretch

    > button, 
    > input[type="submit"], 
    > label.btnfile:has(input[type="file"]):has(h3),
    > label.btnradio:has(input[type="radio"]):has(h3),
    > div
        flex-grow: 1

    &.col
        flex-direction: column

    &.wrap
        flex-wrap: wrap