@import 'VARIABLES.sass'

aside.sidebar 
    height: 100% !important
    width: $sidebar-size !important
    position: fixed !important
    background-color: black !important
    top: 0 !important

    > section 
        gap: 53px !important
        height: 100% !important
        padding: 33px 14.5px !important
        align-items: center !important
        flex-direction: column !important

        > .titleside 
            align-items: center !important
            pointer-events: none !important

            img 
                width: 50px !important
                height: 31px !important
        
        > nav 
            gap: 28px !important
            flex-direction: column !important

            > a 
                width: 43px !important
                aspect-ratio: 1 !important
                background-color: #f1c85f !important
                border-radius: 100% !important
                padding: 10px !important

                > img 
                    width: 23px !important
                    aspect-ratio: 1 !important
                    pointer-events: none !important