body.registerpage {
    background-image: url("../assets/bg 2.png") !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center center !important;
}
/* .PCMOD-body {
  padding: 13px 0 0;
} */
main {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    overflow: auto !important;
}
.registerpage > .PCMOD-body {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.registerpage .registersection {
    width: 100% !important;
    min-height: 469px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 23px 53px !important;
}
.registerpage .registersection > .form {
    background-color: var(--container-red) !important;
    /* width: 360px !important; */
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 33px !important;
    padding: 23px 53px 53px !important;
    border-radius: 10px !important;
}
.registerpage .registersection > .form > span {
    display: flex !important;
    color: var(--input-white) !important;
    font-size: 33px !important;
    font-weight: 700 !important;
    line-height: normal !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
}
.registerpage .registersection > .form > form {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 43px !important;
}
.registerpage .registersection > .form > form > .inputside {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;  
}
.registerpage .registersection > .form > form > .inputside {
    gap: 23px !important;
}
.registerpage .registersection > .form > form > .inputside > .inputboxside {
    width: 100% !important;
    gap: 13px !important;
    display: flex;
    flex-direction: column;
}
.registerpage .registersection > .form > form > .inputside > .inputboxside > .twoinputbox {
    width: 100% !important;
    display: flex !important;
    gap: 23px;
}
.registerpage .registersection > .form > form > .inputside > .inputboxside > .twoinputbox > .inputs {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 3px !important;
}
.registerpage .registersection > .form > form > .inputside > .inputboxside > .twoinputbox > .inputs > span {
    width: 100% !important;
    color: var(--color-white) !important;
    font-size: 15px !important;
    font-style: italic !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-transform: capitalize !important;
}
.registerpage .registersection > .form > form > .inputside > .inputboxside > .twoinputbox > .inputs > input {
    background-color: var(--input-white) !important;
    width: 254px !important;
    height: 37px !important;
    font-size: 15px !important;
    padding-inline: 7.5px !important;
}
.registerpage .registersection > .form > form > button {
    background-color: var(--color-white) !important;
    width: 254px !important;
    display: flex !important;
    justify-content: center !important;
    padding: 5px 0 !important;
    color: var(--color-primary) !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: normal !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
    cursor: pointer !important;
    transition: .33s !important;
}
.registerpage .registersection > .form > form > button:hover { 
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
}

/* .bodytermsandcondition {
    gap: 13px;
    display: flex;
}
   
.bodyinput9 {
    appearance: none !important;
    width: 23px;
    height: 23px;
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 1);
}
.body-text8 {
    color: rgba(217, 217, 217, 1);
    height: auto;
    flex-grow: 1;
    font-size: 15px;
    font-style: italic;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
} */
   
