
.statisticspaymentsummary {
  gap: 23px;
  // display: flex;
  // align-self: stretch;
  // align-items: flex-start;
  flex-direction: column;
  // justify-content: center;
}
 
.statistics-frame281 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.statistics-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 23px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statisticsupper {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.statisticsloginbutton1 {
  width: 58px;
  height: 37px;
  display: flex;
  padding: 10px 23px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px 0 0 5px;
  justify-content: center;
  background-color: rgba(241, 200, 95, 1);
}
 
.statisticsloginbutton2 {
  height: 37px;
  display: flex;
  padding: 5px 0;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.statistics-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statisticsloginbutton3 {
  width: 58px;
  height: 37px;
  display: flex;
  padding: 5px 23px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0 5px 5px 0;
  justify-content: center;
  background-color: rgba(241, 200, 95, 1);
}
 
.statistics-frame301 {
  gap: 13px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.statistics-frame302 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.statistics-frame282 {
  gap: 10px;
  display: flex;
  align-items: center;
}
 
.statistics-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statistics-frame291 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.statistics-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statistics-frame31 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.statistics-frame283 {
  gap: 10px;
  display: flex;
  align-items: center;
}
 
.statistics-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statistics-frame292 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.statistics-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statistics-frame33 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.statistics-frame284 {
  gap: 10px;
  display: flex;
  align-items: center;
}
 
.statistics-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statistics-frame293 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.statistics-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statistics-frame342 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.statistics-frame285 {
  gap: 10px;
  display: flex;
  align-items: center;
}
 
.statistics-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statistics-frame294 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.statistics-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statistics-frame32 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.statistics-frame286 {
  gap: 10px;
  display: flex;
  align-items: center;
}
 
.statistics-text21 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.statistics-frame295 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
 
.statistics-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
