
.body-frame35 {
  gap: 13px;
  // display: flex;
  // align-self: stretch;
  // align-items: flex-start;
  // flex-shrink: 0;
}
 
.bodystatistics1 {
  width: 675px;
  gap: 23px;
  padding: 23px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(232, 232, 232, 1);
}
 
.bodytitle2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
}
 
.body-text25 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 23px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.body-frame341 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.body-image8 {
  width: auto;
  height: 338px;
  align-self: stretch;
  border-radius: 5px;
}
 
.bodystatistics2 {
  gap: 23px;
  width: 390px;
  display: flex;
  padding: 23px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(232, 232, 232, 1);
}
 
.bodytitle3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
}
 
.body-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 23px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.body-frame342 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.body-image9 {
  width: auto;
  height: 344px;
  align-self: stretch;
}
 
.bodydemandforecast {
  gap: 23px;
  display: flex;
  padding: 23px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(232, 232, 232, 1);
}
 
.bodytitle4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
}
 
.body-text27 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 23px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.body-frame343 {
  gap: 10px;
  height: 203px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.bodyprepordersection2 {
  gap: 13px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.bodyorders2 {
  gap: 33px;
  display: flex;
  padding: 23px;
  align-self: stretch;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(232, 232, 232, 1);
}
 
.bodytitle5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
}
 
.body-text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 23px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodytable1 {
  gap: 23px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.bodytablehead {
  gap: 13px;
  display: flex;
  padding: 0 13px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.body-frame281 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
 
.body-text29 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.body-frame30 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
 
.body-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.body-frame32 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
 
.body-text31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.body-frame31 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
 
.body-text32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.body-frame282 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
 
.body-text33 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.body-frame33 {
  width: 58px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.body-frame12 {
  gap: 13px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.bodytable2 {
  gap: 13px;
  display: flex;
  padding: 0 13px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(232, 232, 232, 1);
}
 
.bodyno1 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text34 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodydate1 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodyname1 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text36 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodydiningoptions1 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodytotalamount1 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text38 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodylogo1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.bodyloginbutton1 {
  width: 58px;
  height: 37px;
  flex-grow: 1;
}
 
.body-line81 {
  width: 1032px;
  height: 1px;
  align-self: stretch;
}
 
.body-frame22 {
  gap: 13px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.bodytable3 {
  gap: 13px;
  display: flex;
  padding: 0 13px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(232, 232, 232, 1);
}
 
.bodyno2 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text39 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodydate2 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text40 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodyname2 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text41 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodydiningoptions2 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text42 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodytotalamount2 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text43 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodylogo2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.bodyloginbutton2 {
  width: 58px;
  height: 37px;
  flex-grow: 1;
}
 
.body-line82 {
  width: 1032px;
  height: 1px;
  align-self: stretch;
}
 
.body-frame37 {
  gap: 13px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.bodytable4 {
  gap: 13px;
  display: flex;
  padding: 0 13px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(232, 232, 232, 1);
}
 
.bodyno3 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text44 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodydate3 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text45 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodyname3 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text46 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodydiningoptions3 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text47 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodytotalamount3 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text48 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodylogo3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.bodyloginbutton3 {
  width: 58px;
  height: 37px;
  flex-grow: 1;
}
 
.body-line83 {
  width: 1032px;
  height: 1px;
  align-self: stretch;
}
 
.body-frame43 {
  gap: 13px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.bodytable5 {
  gap: 13px;
  display: flex;
  padding: 0 13px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(232, 232, 232, 1);
}
 
.bodyno4 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text49 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodydate4 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text50 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodyname4 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text51 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodydiningoptions4 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text52 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodytotalamount4 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text53 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodylogo4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.bodyloginbutton4 {
  width: 58px;
  height: 37px;
  flex-grow: 1;
}
 
.body-line84 {
  width: 1032px;
  height: 1px;
  align-self: stretch;
}
 
.body-frame5 {
  gap: 13px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.bodytable6 {
  gap: 13px;
  display: flex;
  padding: 0 13px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(232, 232, 232, 1);
}
 
.bodyno5 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text54 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodydate5 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text55 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodyname5 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text56 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodydiningoptions5 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text57 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodytotalamount5 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.body-text58 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.bodylogo5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.bodyloginbutton5 {
  width: 58px;
  height: 37px;
  flex-grow: 1;
}
 
.body-line85 {
  width: 1032px;
  height: 1px;
  align-self: stretch;
}
