body.landingpage {
    background-image: url("../assets/bg.png") !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center center !important;
}
/* .PCMOD-body {
    padding: 13px 0 0;
} */
main {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    overflow: auto !important;
}
.landingpage .PCMOD-body {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    /* padding: 0 13px !important; */
}
.landingpage .preordersection {
    background-color: var(--container-red) !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-top: 258px !important;
    padding: 40px 150px !important;
    backdrop-filter: blur(13px) !important;
}
.landingpage .preordersection > span {
    width: 100% !important;
    display: flex !important;
    color: var(--color-secondary) !important;
    font-size: 28px !important;
    font-weight: 500 !important;
    line-height: normal !important;
}
.landingpage .preordersection > button {
    background: none !important;
    width: 247px !important;
    display: flex !important;
    justify-content: center !important;
    align-self: flex-end !important;
    padding: 7.5px 0 !important;
    border: 3px solid var(--color-secondary) !important;
    color: var(--color-secondary) !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: normal !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    transition: .33s !important;
}
.landingpage .preordersection > button:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
}
.landingpage .aboutsection {
    width: 100% !important;
    display: flex !important;
}
.landingpage .aboutsection > .logoside {
    background-color: var(--color-primary) !important;
    width: 650px !important;
    display: flex !important;
    padding: 50px 100px !important;
    pointer-events: none !important;
}
.landingpage .aboutsection > .logoside > img {
    width: 255px !important;
    height: 260px !important;
}
.landingpage .aboutsection > .descriptionside {
    background-color: var(--color-secondary) !important;
    width: 100% !important;
    display: flex !important;
    padding: 53px 75px 0 !important;
}
.landingpage .aboutsection > .descriptionside > .text {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 23px !important;
    color: var(--color-primary) !important;
    line-height: normal !important;
    text-decoration: none !important;
}
.landingpage .aboutsection > .descriptionside > .text > .ourstory {
    width: 100% !important;
    display: flex !important;
    font-size: 23px !important;
    font-weight: 600 !important;
}
.landingpage .aboutsection > .descriptionside > .text > .description {
    width: 100% !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}