@use '../Variables.sass' as v

div.box
    width: 100%
    background-color: v.$color-white
    gap: 23px
    padding: 23px
    border-radius: 10px
    align-items: center

    > .title
        width: 100% !important
        align-items: center !important

        > .left, > .right
            flex-grow: 1

            > button
                height: 37px
                width: auto !important
                padding: 5px 23px !important

        > .right
            justify-content: flex-end

    &.boxcol
        flex-direction: column