@use '../constant.sass' as v

div.checkeditem
    width: 100% !important
    justify-content: space-between !important

    > div:nth-child(1)
        flex-direction: column !important
        gap: v.$elem-sa-size-s !important

        > h5
            font-weight: 600 !important

        > h5:nth-child(1)
            display: -webkit-box !important
            overflow: hidden !important
            text-transform: uppercase !important
            text-overflow: ellipsis !important

    > div:nth-child(2)
        background-color: v.$input-white !important
        align-self: center !important
        border-radius: v.$elem-br-size-s !important
        height: 38px !important

        > h3
            width: 38px !important
            justify-content: center !important
            align-items: center !important

        > button
            width: 38px !important
            height: 38px !important

