@use '../constant.sass' as v

div.checkeditem
    width: 100% !important
    flex-direction: column !important
    justify-content: center !important
    gap: 13px !important

    > h3
        display: -webkit-box !important
        overflow: hidden !important
        text-transform: uppercase !important
        text-overflow: ellipsis !important

    > div
        justify-content: space-between !important
        align-items: center !important

        > .quantity 
            background-color: v.$input-white !important
            justify-content: space-between !important
            border-radius: 5px !important

            > h3
                width: 37px !important
                justify-content: center !important
                align-items: center !important

            > button
                width: 37px !important
                height: 37px !important

