@use '../constant.sass' as v

footer 
    background-color: v.$header-footer !important
    width: 100% !important
    justify-content: center !important
    align-items: center !important
    gap: 63px !important
    padding: 43px 0 !important

    > div, > nav
        flex-direction: column !important

    > img 
        width: 160px !important

    > .contactside 
        width: 200px !important
        justify-content: center !important
        align-items: center !important
        gap: 13px !important

        > div
            width: 100% !important
            justify-content: center !important

        > div.logos 
            gap: 23px !important

            > img 
                width: 33px !important

        > div.contact 
            flex-direction: column !important
            gap: 7.5px !important

            > figure 
                align-items: center !important
                gap: 13px !important
                color: v.$input-white !important

                > img 
                    width: 15px !important

    > nav 
        width: 111px !important
        gap: 7.5px !important
        
    > .privacytermsside 
        width: 186px !important
        gap: 23px !important
        
        > div
            flex-direction: column !important
            gap: 7.5px !important

            > label
                width: 100% !important

            > p 
                color: v.$input-white !important
                font-size: 12px !important
