@use '../constant.sass' as v

div.form
    background-color: v.$container-red !important
    flex-direction: column !important
    align-items: center !important
    gap: 18px
    padding: 18px 43px 43px !important
    border-radius: 10px !important
    backdrop-filter: blur(13px) !important

    > h1
        color: v.$input-white !important

    > form
        width: v.$elem-w-size-primary !important
        flex-direction: column !important
        align-items: center !important
        gap: 28px !important

        div.group

            &.col:has(label.outputfetch)
                gap: 4.3px !important

                > label.outputfetch
                    width: unset !important
                    gap: 3px !important

                > div:has(label.outputfetch)
                    justify-content: space-between !important

                    > label.outputfetch
                        width: unset !important

            &.wrap
                gap: 8px 18px !important

            &.signalside
                text-align: justify !important
                justify-content: center !important
                flex-grow: 1 !important

                p.success
                    color: green !important

                p.error
                    color: red !important

            &.imageside
                width: unset !important
                align-items: center !important
                justify-content: center !important
                gap: 43px !important

                img
                    background-color: white !important
                    width: 70px !important
                    aspect-ratio: 1 !important
                    border-radius: 100% !important

                label.btnfile:has(input[type="file"]):has(h3)
                    width: unset !important
                    padding-inline: 13px !important

            &.buttonside
                width: 100% !important
                justify-content: center !important
                gap: 18px !important

        &.formtwolayers
            width: 526px !important

        &.formthreelayers
            width: 798px !important

        &.formtwolayers, &.formthreelayers

            div.group

                &.errorside
                    width: 100% !important

        label.inputbox, label.selectionbox, label.outputfetch

            > h4
                font-size: 15px !important

        button, input[type="submit"], label.btnfile:has(input[type="file"]):has(h3)
            height: v.$elem-h-size-secondary !important
