@use '../Variables.sass' as v

header 
    background-color: v.$header-footer !important
    width: 100% !important
    position: sticky !important
    top: 0 !important
    z-index: 100 !important

    > div
        max-width: 1263px !important
        width: 100% !important
        justify-content: space-between !important
        align-items: center !important
        margin-inline: auto !important
        padding: 14.5px 60px 14.5px 80px !important
    
        > .titleside 
            align-items: center !important

            > img 
                width: 150px !important
                height: 30px !important
            
        > nav 
            justify-content: flex-end !important
            align-items: center !important
            gap: 13px !important

            > a 
                font-size: 18px !important
                padding: 13px !important
                text-transform: uppercase !important
                transition: .33s !important

                &:hover 
                    background-color: v.$color-secondary !important
                    color: v.$color-primary !important
                    text-decoration: none !important