@use '../constant.sass' as v

main
    width: 100% !important
    min-height: 469px !important
    flex-direction: column !important
    align-items: center !important

    > div
        width: 100% !important
        flex-direction: column !important
        gap: 18px !important
        margin-top: v.$header-size !important

        &.row
            flex-direction: unset !important

@media only screen and (min-width: 1267px) 

    main

        > div
            max-width: 1263px !important
            min-height: calc( 100vh - v.$header-size ) !important 
            padding: 13px 33px 33px 33px !important

@media only screen and (min-width: 767px) and (max-width: 1266px) 

    main

        > div
            max-width: unset !important
            min-height: calc(100vh - v.$header-size - v.$footer-size ) !important
            padding: 13px !important

@media only screen and (max-width: 766px) 

    main

        > div
            max-width: unset !important
            min-height: calc(100vh - v.$header-size - ( v.$footer-size / 2 ) ) !important
            padding: 13px !important


div.group:has( > main )

    main

        > div
            max-width: 1284px !important
            min-height: 100vh !important
            padding: 13px 23px 23px calc( 23px + v.$sidebar-size ) !important
            margin-top: unset !important

@media only screen and (max-width: 1266px) 

    div.group:has( > main )

        main

            > div
                max-width: unset !important
                min-height: 100vh !important