@use '../constant.sass' as v

main
    width: 100% !important
    min-height: 469px !important
    flex-direction: column !important
    align-items: center !important

    > div
        width: 100% !important
        min-height: calc( 469px + v.$header-size ) !important 
        flex-direction: column !important
        gap: 18px !important

        &.row
            flex-direction: unset !important

@media only screen and (min-width: 1267px) 

    main

        > div
            max-width: 1263px !important
            padding: calc( 13px + v.$header-size ) 33px 33px 33px !important


@media only screen and (max-width: 1266px) 

    main

        > div
            max-width: unset !important
            padding: calc( 13px + v.$header-size ) 13px 13px 13px !important


div.group:has( > main )

    main

        > div
            max-width: 1284px !important
            padding: 13px 23px 23px calc( 23px + v.$sidebar-size ) !important

@media only screen and (max-width: 1266px) 

    div.group:has( > main )

        main

            > div
                max-width: unset !important