@use '../constant.sass' as v

label.outputfetch
    width: v.$elem-w-size-primary
    align-items: center !important
    gap: 13px !important

    > h4 
        font-style: italic !important
        font-weight: 400 !important
        
    &.outcol
        flex-direction: column !important
        align-items: stretch !important
        gap: 4.3px !important

    &.outwhite

        > h4, > h3
            color: v.$input-white !important
    