@use '../Variables.sass' as v

div.pagination
    gap: 13px
    align-items: center
    justify-content: center
    width: 100% !important

    > button
        height: 37px

        &.pagination
            width: auto !important
            padding: 5px 23px !important
            text-transform: uppercase !important

    > button:not(.pagination)
        max-width: 58px !important


