@use '../Variables.sass' as v

div.order
    background-color: v.$color-white !important
    padding: 13px !important
    width: 326px !important
    border-radius: 10px !important
    gap: 13px
    align-items: center
    justify-content: space-between

    > button
        width: auto !important
        height: 37px
        padding: 5px 23px !important