@use '../constant.sass' as v

aside, aside div, aside nav, aside a, aside img 
    display: flex !important

@media only screen and (min-width: 1267px) 

    aside.sidebar 
        background-color: v.$header-footer !important
        width: 75px !important
        height: 100vh !important
        position: fixed !important
        top: 0 !important
        transition: .33s !important
        overflow: hidden !important
        z-index: 100 !important

        > div
            height: 100% !important
            flex-direction: column !important
            gap: 33px !important
            padding: 27.5px 13px !important

            > img 
                height: 30px !important
                align-self: flex-start !important

            > nav 
                align-self: center !important
                flex-direction: column !important
                gap: v.$elem-sa-size-m !important

                > a 
                    gap: v.$elem-sa-size-s !important
                    align-items: center !important

                    > div
                        background-color: v.$color-secondary !important
                        width: 40px !important
                        padding: 10px !important
                        border-radius: 100% !important

                        > img 
                            width: 20px !important

                    > span  
                        white-space: nowrap !important
                        text-transform: uppercase !important
                        display: none !important
                        opacity: 0 !important
                        visibility: hidden !important

        &:has(nav:hover)
            width: calc( v.$sidebar-size * 3 ) !important

            nav 
                margin-left: 4px !important
                
                > a
                    width: 100% !important
                    font-weight: 700 !important
                    justify-content: flex-start !important
                    padding-inline-end: v.$elem-sa-size-s !important
                    transition: .33s !important
                    
                    > span
                        display: flex !important
                        opacity: 1 !important
                        visibility: visible !important

                    &:hover
                        background-color: v.$color-secondary !important
                        color: v.$color-primary !important
                        text-decoration: none !important

@media only screen and (min-width: 767px) and (max-width: 1266px) 
        
    aside.sidebar 
        background-color: v.$header-footer !important
        width: 75px !important
        height: 100vh !important
        position: fixed !important
        top: 0 !important
        transition: .33s !important
        overflow: hidden
        z-index: 100 !important

        > div
            height: 100% !important
            flex-direction: column !important
            gap: 33px !important
            padding: 27.5px 13px !important

            > img 
                height: 30px !important
                align-self: flex-start !important

            > nav 
                align-self: center !important
                flex-direction: column !important
                gap: 13px !important

                > a 
                    gap: 7.5px !important
                    font-weight: 700 !important
                    align-items: center !important

                    > div
                        background-color: v.$color-secondary !important
                        width: 40px !important
                        padding: 10px !important
                        border-radius: 100% !important

                        > img 
                            width: 20px !important

                    > span
                        text-transform: uppercase !important
                        display: none !important
                        opacity: 0 !important
                        visibility: hidden !important

        &:active
            width: 200px !important

            nav 
                margin-left: 4px !important
                
                > a
                    width: 100% !important
                    justify-content: flex-start !important
                    padding-inline-end: 7.5px !important
                    transition: .33s !important
                    
                    > span
                        display: flex !important
                        opacity: 1 !important
                        visibility: visible !important

                    &:hover
                        background-color: v.$color-secondary !important
                        color: v.$color-primary !important
                        text-decoration: none !important

