@use '../constant.sass' as v

.tb
    width: 100% !important
    flex-direction: column !important
    overflow-x: auto !important
    gap: 13px!important

    > .th, > .td
        width: 100% !important
        align-items: center !important
        gap: 13px !important

        > .tc
            width: 100% !important
            justify-content: center !important
            text-align: center !important

            &:not(.tcbtn)
                min-width: 122px !important
                
            &.tcbtn
                width: unset !important
                gap: 13px

    > .th
        height: 27px !important

        > .tc

            > h3
                text-transform: uppercase !important

            &.tcbtn

                > div
                    width: 53px !important

    > .td
        height: 54px !important

        > .tc

            > h4
                display: -webkit-box !important
                overflow: hidden !important
                text-overflow: ellipsis !important
                -webkit-line-clamp: 2 !important
                -webkit-box-orient: vertical !important

            &.tcbtn

                > button
                    width: unset !important
                    height: v.$elem-h-size-secondary !important
                    padding: 0px 13px !important

                    > img 
                        width: 27px !important
                        transition: filter 0.3s ease !important

                    &:hover
                        background-color: v.$color-primary !important
                        color: v.$color-white !important

                        > img 
                            filter: invert(1) !important

div.box:has( >.tb )
    gap: 33px
