@use '../../Variables.sass' as v

body.Menu-PAGE 

    .menu
    
        > div.group
            gap: 23px !important

            > div.box
                gap: 33px !important

                > label
                    width: 100% !important

                    > input
                        flex-grow: 1 !important

            > div.group
                column-gap: 23px !important
