@use '../../constant.sass' as v

body.Dashboard-Admin-PAGE 
    
    .salesrevenue

        > h1
            align-self: start !important

        > .upper

            > .kpis
                width: unset !important
                flex-grow: 1 !important

                > .kpi

                    &:nth-child(1)
                        background-color: #461220

                    &:nth-child(2)
                        background-color: #B53535

                    &:nth-child(3)
                        background-color: #761430

                    &:nth-child(1), &:nth-child(2), &:nth-child(3)
                        color: v.$color-white !important

            > .datetime
                max-width: 392px !important
                justify-content: center !important
                align-items: center !important
                text-align: center !important
                text-transform: uppercase !important

                > h3
                    text-align: center !important
        
        > .charts

            > .salesstatus

                > canvas
                    width: 100% !important
                    height: 100% !important

            > .topcategory
                max-width: 392px !important

                > canvas
                    width: 100% !important
                    height: 100% !important

            > .demandforecast
                gap: v.$elem-sa-size-m !important

                > canvas
                    width: 100% !important

                > div.group
                    width: 97% !important
                    background-color: v.$color-secondary !important
                    color: v.$color-primary !important
                    padding: v.$elem-sa-size-m v.$elem-sa-size-xl !important
                    border-radius: v.$elem-br-size-l !important
                    text-align: justify !important
