@use '../../constant.sass' as v

body.Management-PAGE 

    main
    
        > div

            .search

                > label
                    width: 100% !important

            .kpis

                > .kpi

                    &:nth-child(1)
                        background-color: #461220

                    &:nth-child(3)
                        background-color: #B53535

                    &:nth-child(4)
                        background-color: #761430

                    &:nth-child(1), &:nth-child(3), &:nth-child(4)
                        color: v.$color-white !important

            .demandforecast
                gap: v.$elem-sa-size-m !important

                > canvas
                    width: 100% !important

                > div.group
                    width: 97% !important
                    background-color: v.$color-secondary !important
                    color: v.$color-primary !important
                    padding: v.$elem-sa-size-m v.$elem-sa-size-xl !important
                    border-radius: v.$elem-br-size-l !important
                    text-align: justify !important


            div.box

                > .title

                    > .right

                        > div.group
                            width: unset !important
                            gap: v.$elem-sa-size-m !important

                > .tb

                    > .tdr

                        > .td:has(h4:contains("AVAILABLE"))
                            background-color: green

    .modal

        > .modal-dialog

            > div.form

                > form

                    > .inputside

                        > .ingredients
                            gap: v.$elem-sa-size-s !important

                            > h4
                                font-size: 15px !important
                                color: v.$input-white !important
                                font-style: italic !important
                                font-weight: 400 !important
                                text-transform: capitalize !important

                            > div.group
                                margin-bottom: 5px !important

                                > label.selectionbox:has(select)
                                    width: 100% !important

                                > label.outputfetch:has(h3)
                                    width: 90px !important
                                    align-items: center !important
                                    text-transform: uppercase !important

                                > button
                                    width: unset !important

                                    > img
                                        width: 27px !important
