@use '../../constant.sass' as v

body.Profile-Services-PAGE

    main

        > div

            .myprofile

                > h1
                    align-self: start !important

                > .details
                    align-items: center !important
                    gap: 23px !important

                    > img
                        background-color: white !important
                        width: 125px !important
                        aspect-ratio: 1 !important
                        border-radius: 100% !important

                    > article
                        flex-grow: 1 !important
                        flex-direction: column !important
                        gap: 3px !important

                        > h2
                            text-transform: capitalize !important

                    > button
                        width: unset !important
                        min-width: 178px !important
                        padding: 0px 23px !important
                
                > .statistic

                    > canvas
                        width: 100% !important

            div:has( .datetime )
                align-self: start !important

                > .datetime
                    width: 100% !important
                    align-items: center !important
                    gap: 13px !important
                    text-align: center !important

                    > h3
                        text-transform: uppercase !important
                        text-align: center !important

                > .timeintimeout
                    width: 100% !important
                        
                    > button
                        height: 37px !important
                        flex-grow: 1 !important

                // > iframe
                //     width: 100% !important
                //     aspect-ratio: 1 !important

                > .attendance

                    > canvas
                        width: 100% !important
                        height: 250px !important

@media only screen and (min-width: 1024px) 

    body.Profile-Services-PAGE

        main

            > div

                .leftside
                    gap: 23px !important

                .rightside
                    max-width: 33.5938vw !important

                    > iframe
                        aspect-ratio: 1 !important

@media only screen and (min-width: 767px) and (max-width: 1023px) 

    body.Profile-Services-PAGE

        main

            > div

                > .myprofile

                    > .attendance

                        > iframe
                            height: 250px !important


